<footer class="footer">
  <div class="row" style="height:75px">
    <div class="col-2 d-flex justify-content-center align-items-center">
      <%= image_tag 'vynil.png', id: 'current-track-image', class: 'spin' %>
      <div class="vinyl-hole"></div>
      <div class="vinyl-background"></div>
    </div>
    <div class="col-2 d-flex align-items-left flex-column justify-content-center p-1">
      <p id="current-track-title" class="m-0" style="font-weight:400;"></p>
      <p id="current-track-artist" class="m-0"></p>
    </div>
    <div class="col-1 d-flex justify-content-between align-items-center p-0">
      <div id="previous-button"><i class="fas fa-backward"></i></div>
      <div id="play-button"><i id="fontawesome-play-pause" class="fas fa-pause"></i></div>
      <div id="next-button"><i class="fas fa-forward"></i></div>
    </div>
<!--     <div class="col d-flex justify-content-end align-items-center">
      <div class="btn btn-primary" id="refresh-button">Refresh Token</div>
    </div> -->
  </div>
        <!-- <div class="footer__copyright">&copy; <%= Date.today.year %></div>
        <div class="footer__signature">Made with love by Moods</div> -->
</footer>

<!-- <div id="footer" class="container-fluid fixed-bottom border-top">
  <div class="row">
    <div class="col">
      <%= link_to icon('fas', 'home'), root_path %>
    </div>
    <div class="col">
      <%= link_to icon('fas', 'stream'), playlists_path %>
    </div>
    <div class="col">
      <%= link_to icon('fas', 'user'), playlists_path %>
    </div>
    <div class="col">
      <%= link_to 'Signout', destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
 -->
