<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for(@playlist) do |t| %>
        <div class="row d-flex justify-content-center align-items-center">
          <%= t.input :name, placeholder: "NAME", label: false %>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <%= t.association :genres, include_blank: false, include_hidden: false, input_html: { class: "select2" }, multiple: "multiple", label: false %>
          </div>

        <div class="row d-flex justify-content-center align-content-center">
          <div class="col-7">

            <% COLORS.keys.each do |color| %>
              <% if COLORS[@playlist.color] == COLORS[color] %>
                <div class="mood-color-picker activemood" style="background-image: <%= COLORS[color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)"><span class="color-name"><%= color %></span></div>
              <% else %>
                <div class="mood-color-picker" style="background-image: <%= COLORS[color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)"><span class="color-name"><%= color %></span></div>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-content-center">
          <div class="col-7">
            <%= t.input :color, as: :hidden %>
          </div>
        </div>


        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-7">
            <%= t.label :acousticness %>
            <%= image_tag "guitar.png" %>
            <%= t.input :acousticness, input_html: { class: 'slider', step: 0.001, min: 0, max: 1, value: @playlist.acousticness }, as: :range, label: false, type: "range" %>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-7">
            <%= t.label :danceability %>
            <%= image_tag "dancing.png" %>
            <%= t.input :danceability, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, label: false, type: "range" %>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-7">
            <%= t.label :energy %>
            <%= image_tag "thunder.png" %>
            <%= t.input :energy, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, label: false,  type: "range" %>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-7">
<<<<<<< HEAD
            <%= t.label :positivity%>
=======
            <%= t.label :positivity %>
>>>>>>> 56535b2e0c896b08b19435132c9e73a5411686b4
            <%= image_tag "drama.png" %>
            <%= t.input :valence, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, label: false, type: "range" %>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-7">
            <%= t.label :popularity  %>
            <%= image_tag "star.png" %>
            <%= t.input :popularity, input_html: { class: 'slider' }, as: :range, label: false, type: "range" %>
          </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-7 d-flex justify-content-center mt-3">
            <%= t.submit id: 'add-button'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
