<div class="new-form">
<%= simple_form_for(@playlist) do |t| %>
  <%= t.input  :name, placeholder:"NAME", label: false, maxlength: 15, autofocus:"true", input_html: { class: "input", id: "playlist-name" } %>
 <!--  <input type="text" placeholder="name" class="mb-2 text-left input" label="name" autofocus="true" id="playlist-name" maxlength= "15" style="width: <%= "#{@playlist.name.length}ch" if @playlist.name %>"> -->

      <%= t.association :genres, include_blank: false, include_hidden: false, input_html: { class: "select2" }, multiple: "multiple", label: false %>

      <div class="slider-div">
        <%= t.label :acousticness %>
        <%= t.input :acousticness, input_html: { class: 'slider', step: 0.001, min: 0, max: 1, value: @playlist.acousticness }, as: :range, label: false, type: "range" %>
        <div class="slider-img acousticness"><%= image_tag "guitar.png"%></div>
        <div class="slider-bg acousticness" style="background-image: <%= COLORS[@playlist.color] %>">
        </div>
      </div>


      <div class="slider-div">
        <%= t.label :danceability %>
        <%= t.input :danceability, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, label: false, type: "range" %>
        <div class="slider-img danceability"><%= image_tag "dancing.png" %></div>
        <div class="slider-bg danceability" style="background-image: <%= COLORS[@playlist.color] %>"></div>
      </div>


      <div class="slider-div">
        <%= t.label :energy %>
        <%= t.input :energy, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, label: false,  type: "range" %>
        <div class="slider-img energy"><%= image_tag "thunder.png" %></div>
        <div class="slider-bg energy" style="background-image: <%= COLORS[@playlist.color] %>"></div>
      </div>


      <div class="slider-div">
        <%= t.label :positivity %>
        <%= t.input :valence, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, label: false, type: "range" %>
        <div class="slider-img valence"><%= image_tag "drama.png" %></div>
        <div class="slider-bg valence" style="background-image: <%= COLORS[@playlist.color] %>"></div>
      </div>


      <div class="slider-div">
        <%= t.label :popularity  %>
        <%= t.input :popularity, input_html: { class: 'slider' }, as: :range, label: false, type: "range" %>
        <div class="slider-img popularity"><%= image_tag "star.png" %></div>
        <div class="slider-bg popularity" style="background-image: <%= COLORS[@playlist.color] %>"></div>
      </div>

      <div class="col-12">
        <div class="mb-1 font-weight-bold">
          Give me some style
        </div>
        <div>
          <% COLORS.keys.each do |color| %>
            <% if COLORS[@playlist.color] == COLORS[color] %>
              <div class="mood-color-picker activemood" style="background-image: <%= COLORS[color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)"><span class="color-name"><%= color %></span></div>
            <% else %>
              <div class="mood-color-picker" style="background-image: <%= COLORS[color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)" aria-labelledby="shopping cart items"><span class="color-name"><%= color %></span></div>
            <% end %>
          <% end %>
          <%= t.input :color, as: :hidden %>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center mt-3">
        <%= t.submit id: 'action-button'%>
      </div>

      <div class="col-12 d-flex justify-content-center mt-3">
        <% unless params["controller"] == "playlists" && (params["action"] == "create" || params["action"] == "new")   %>
          <small class="text-muted">
            <%= link_to "Delete this playlist", playlist_path(@playlist), method: :delete, data: {confirm: "Are you sure ?"} %>
          </small>
        <% else %>
        <% end %>
      </div>
  <% end %>
</div>

