 <div class="grid-container">

  <header class="header">
    <h1 class="header__title">Discover</h1>
    <div class="header__avatar">Your face</div>
  </header>

  <aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item">Item One</li>
      <li class="sidenav__list-item">Item Two</li>
      <li class="sidenav__list-item">Item Three</li>
      <li class="sidenav__list-item">Item Four</li>
      <li class="sidenav__list-item">Item Five</li>
    </ul>
  </aside>

  <main class="main">
    <div class="main-searchbar">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>

    <div class="app">
      <div class="full hide-scroll">
        <ul class="hs">
            <% @playlists.each do |playlist| %>
              <%= link_to playlist_path(playlist) do %>
              <li class="item">
                  <h1><%= playlist.name %></h1>
              </li>
              <% end %>
            <% end %>
        </ul>
      </div>
    </div>

  </main>

  <footer class="footer">
    <div class="footer__copyright">&copy; 2018 MTH</div>
    <div class="footer__signature">Made with love by pure genius</div>
  </footer>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col">
       <h1>All playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
            <div class="card-category" style="background-image: linear-gradient(to top right, rgb(252, 92, 125, 0.9), rgb(106, 130, 251, 0.9)), url(<%= asset_path 'card-background-vertical.jpg' %>)">
              <div class="card-transparent-background">
                <%#= image_tag "card-background" %>

                </div>
              <div class="card-category-content px-3">
                <span class="title"><%= playlist.name.upcase %></span>
                <div class="btn-play">
                  <%= link_to playlist_path(playlist) do %>
                    <i class="fas fa-play-circle"></i>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
 -->
