  <header class="header">
    <h1 class="header__title">My <span>moods</span></h1>
  </header>

  <main class="main">

    <div class="main-searchbar">
      <%#= link_to new_playlist_path do %>
        <!-- <div id="add-button"><i class="fas fa-plus"></i></div> -->
      <%# end %>
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a playlist"
        %>
      <% end %>
    </div>

    <div class="app">
      <div class="full hide-scroll">
        <% if @playlists.empty? %>
        <div class="container m-3">
          <p>Sorry, no results!</p>
        </div>
        <% end %>
        <ul class="hs" id="horizontal-slider" data-ride="carousel">
            <% @playlists.each do |playlist| %>
              <%= link_to playlist_path(playlist) do %>
                <div class="item-parent">
                  <li class="item" style="background-image: <%= COLORS[playlist.color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)">
                      <h1><%= playlist.name.capitalize %></h1>
                      <div class="btn-play">
                        <i class="fas fa-play-circle"></i>
                      </div>
                  </li>
                </div>
              <% end %>
            <% end %>
        </ul>
        <a class="carousel-control-prev" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon-custom" aria-hidden="true"><i class="fas fa-angle-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next active-controls" role="button" data-slide="next">
          <span class="carousel-control-next-icon-custom" aria-hidden="true"><i class="fas fa-angle-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </main>
