 <div class="grid-container">

  <header class="header">
    <h1 class="header__title">Discover</h1>
    <div class="header__avatar">Your face</div>
  </header>

  <aside class="sidenav">
    <ul class="sidenav__list">
      <li class="sidenav__list-item">Item One</li>
      <li class="sidenav__list-item">Item Two</li>
      <li class="sidenav__list-item">Item Three</li>
      <li class="sidenav__list-item">Item Four</li>
      <li class="sidenav__list-item">Item Five</li>
    </ul>
  </aside>

  <main class="main">
    <div class="main-searchbar">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>

    <div class="app">
      <div class="full hide-scroll">
        <ul class="hs">
          <li class="item">test</li>
          <li class="item">test</li>
          <li class="item">test</li>
          <li class="item">test</li>
          <li class="item">test</li>
          <li class="item">test</li>
        </ul>
      </div>
    </div>

  </main>

  <footer class="footer">
    <div class="footer__copyright">&copy; 2018 MTH</div>
    <div class="footer__signature">Made with love by pure genius</div>
  </footer>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col">
       <h1>All playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "Create a new playlist", new_playlist_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
          <%= link_to playlist_path(playlist) do %>
          <div class="card">
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://mpact.tv/wp-content/uploads/2015/06/musique-ambiance-960x480.jpg)">
            </div>
            <div class="d-flex justify-content-between">
              <span><%= playlist.name %></span>
              <span>XX songs</span>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
 -->
