<div class="container">
  <div class="row">
    <div class="col">
       <h1>All playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
            <div class="card-category" style="background-image: linear-gradient(to top right, rgb(252, 92, 125, 0.9), rgb(106, 130, 251, 0.9)), url(<%= asset_path 'card-background-vertical.jpg' %>)">
              <div class="card-transparent-background">
                <%#= image_tag "card-background" %>

                </div>
              <div class="card-category-content px-3">
                <span class="title"><%= playlist.name.upcase %></span>
                <div class="btn-play">
                  <%= link_to playlist_path(playlist) do %>
                    <i class="fas fa-play-circle"></i>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
