  <header class="header">
    <h1 class="header__title">My <span>moods</span>.</h1>
  </header>

  <main class="main">

    <div class="main-searchbar">
      <%= link_to new_playlist_path do %>
        <div id="add-button"><i class="fas fa-plus"></i></div>
      <% end %>
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search a playlist"
        %>
      <% end %>
    </div>

    <div class="app">
      <div class="full hide-scroll">
        <% if @playlists.empty? %>
        <div class="container m-3">
          <p>Sorry, no results!</p>
        </div>
        <% end %>
        <ul class="hs">
            <% @playlists.each do |playlist| %>
              <%= link_to playlist_path(playlist) do %>
              <li class="item" style="background-image: <%= COLORS[playlist.color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)">
                  <h1><%= playlist.name %></h1>
                  <div class="btn-play">
                    <i class="fas fa-play-circle"></i>
                  </div>
              </li>
              <% end %>
            <% end %>
        </ul>
<!-- =======
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
          <%= link_to playlist_path(playlist) do %>
            <div class="card-category" style="background-image: <%= COLORS[playlist.color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)">
              <div class="card-category-content px-3">
                <span class="title"><%= playlist.name.upcase %></span>
                <div class="btn-play">
                  <i class="fas fa-play-circle"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
>>>>>>> 2712d7b78273af621cf993026899452e2f0fc17f -->
      </div>
    </div>

  </main>
