<div class="container">
  <div class="row">
    <div class="col">
       <h1>All playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form_tag playlists_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search your playlist"
        %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="cards">
        <% @playlists.each do |playlist| %>
          <%= link_to playlist_path(playlist) do %>
            <div class="card-category" style="background-image: <%= COLORS[playlist.color] %>, url(<%= asset_path 'card-background-vertical.jpg' %>)">
              <div class="card-category-content px-3">
                <span class="title"><%= playlist.name.upcase %></span>
                <div class="btn-play">
                  <i class="fas fa-play-circle"></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
