<div class="container">
  <div class="row">
    <div class="col">
      <h1>Create a playlist</h1>
      <%= simple_form_for(@playlist) do |t| %>
        <%= t.input :name %>
        <%= t.input :acousticness, input_html: { class: 'slider' }, as: :range, type: "range"%>
        <%= t.input :danceability, input_html: { class: 'slider' }, as: :range, type: "range" %>
        <%= t.input :energy, input_html: { class: 'slider' }, as: :range, type: "range" %>
        <%= t.input :valence, input_html: { class: 'slider' }, as: :range, type: "range" %>
        <%= t.input :popularity, input_html: { class: 'slider' }, as: :range, type: "range" %>
        <%= t.association :genres, include_blank: false, include_hidden: false %>
        <%= t.submit "Create a playlist", class: 'btn btn-primary' %>
      <% end %>
      <%= link_to "Back to playlists", playlists_path %>
    </div>
  </div>
</div>
