<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center">
      <span class="back-button"><%= link_to "<", playlists_path %></span>
      <h1>Create a playlist</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= simple_form_for(@playlist) do |t| %>
        <%= t.input :name, placeholder: "Choose your mood name", label: false %>
          <div class="row d-flex align-items-end">
            <div class="col-10">
              <%= t.input :acousticness, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, type: "range" %>
            </div>
            <div class="col-2 slider-value" id="playlist_acousticness-value">
              0.5
            </div>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col-10">
              <%= t.input :danceability, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, type: "range" %>
            </div>
            <div class="col-2 slider-value" id="playlist_danceability-value">
              0.5
            </div>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col-10">
              <%= t.input :energy, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, type: "range" %>
            </div>
            <div class="col-1 slider-value" id="playlist_energy-value">
              0.5
            </div>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col-10">
              <%= t.input :valence, input_html: { class: 'slider', step: 0.001, min: 0, max: 1 }, as: :range, type: "range" %>
            </div>
            <div class="col-2 slider-value" id="playlist_valence-value">
              0.5
            </div>
          </div>
          <div class="row d-flex align-items-end">
            <div class="col-10">
              <%= t.input :popularity, input_html: { class: 'slider' }, as: :range, type: "range" %>
            </div>
            <div class="col-2 slider-value" id="playlist_popularity-value">
              0.5
            </div>
          </div>
        <%= t.submit "+ Add playlist", class: 'button'%>
      <% end %>
    </div>
  </div>
</div>
