<div id="player"></div>
  <header class="header pl-0">
    <div class="show-header-bg" style="background-image: <%= COLORS[@playlist.color] %>">

    </div>

      <div class="showheader-first-row">

          <h1 class="header__title pl-2" style="color:#1B1B1B;"><span style="background-image: <%= COLORS[@playlist.color] %>;border-radius:10px;padding:3px 20px;"><%= @playlist.name %></span></h1>
          <div class="playlist-info-text ellipsis">
            <div class="d-flex justify-content:left">
              <!-- <h5 style="opacity: 30%">&nbsp;&nbsp;Genres:</h5> -->
              <% @playlist.genres.each do |genre|%>
                <div class="tag">
                  <h6>&nbsp;<%= genre.name %></h6>
                </div>
              <% end %>
            </div>
            <!--< div class="d-flex justify-content:center align-items-center">
              <div class="px-2">
                <%#= image_tag "guitar.png" %>
                <h6>&nbsp;<%= @playlist.acousticness.round(1) %></h6>
              </div>
              <div class="px-2">
                <%#= image_tag "dancing.png" %>
                <h6>&nbsp;<%= @playlist.danceability.round(1) %></h6>
              </div>
              <div class="px-2">
                <%#= image_tag "thunder.png" %>
                <h6>&nbsp;<%= @playlist.energy.round(1) %></h6>
              </div>
              <div class="px-2">
                <%#= image_tag "drama.png" %>
                <h6>&nbsp;<%= @playlist.valence.round(1) %></h6>
              </div>
              <div class="px-2">
                <%#= image_tag "star.png" %>
                <h6>&nbsp;<%= @playlist.popularity.round(1) %></h6>
              </div>
            </div> -->
              <% link_to edit_playlist_path(@playlist) do %>
              <div style="z-index:3; position:fixed; top: 32px; right: 39px; font-size:50px">
                <h2><i class="fas fa-sliders-h"></i></h2>
              </div>
            <% end %>
          </div>






    <nav class="navbar navbar-expand-lg navbar-dark text-white d-flex align-items-center">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <%= link_to playlists_path do %>
          <li class="nav-item" id="moods"><i class="fas fa-globe-asia"></i> My moods</li>
        <% end %>
        <%= link_to new_playlist_path do %>
          <li class="nav-item" id="moods"><i class="fas fa-plus"></i> Add a mood</li>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <li class="nav-item" id="moods"><i class="fas fa-sign-out-alt"></i>Sign out</li>
        <% end %>
      </ul>
    </div>
  </nav>
  </header>


<div class="main">



  <% if current_user.account_type == 'premium' %>
    <table class="table table-sm table-genres">
      <thead>
        <tr class="title-head">
          <th scope="col" class="sort title-head" data-sort="title" style="padding-left:139px;">Title</th>
          <th scope="col" class="sort desc" data-sort="artist">Album</th>
          <th scope="col" class="sort desc" data-sort="artist"></th>
        </tr>
      </thead>
    <tbody class="list">

        <% @playlist.tracks.each_with_index do |x,i|%>
          <tr class="playlist-row" data-spotify-id="<%= x.spotify_track_id %>" data-img-url="<%= x.image_url %>" data-position="<%= i %>">
            <th scope="row">

              <div class="track-info">
                <% if i < 9 %>
                  <p class="number pr-1"><%= i + 1 %>&nbsp;</p>
                <% else %>
                  <p class="number"><%= i + 1 %></p>
                <% end %>
                <%= x.image_url ? (image_tag x.image_url) : (image_tag 'moods-logo.png') %>
                <div class="track-info-text ellipsis">
                    <span class="track-title"><%= x.title %></span>
                    <span class="artist-name"><%= x.artist %></span>
                </div>
              </div>

            </th>

            <td>
              <p class="m-0"><%= x.album %></p>
            </td>

            <td id="like-button">
                <i class="fa-heart fas"></i>
            </td>

          </tr>
        <%end%>
      </tbody>
    </table>

    <div class="d-flex justify-content:center" style="margin: 0px auto;">
      <%= link_to "Generate more songs", playlist_refresh_path(@playlist), id: 'add-button' %>
    </div>

    <div class="d-flex justify-content:center" style="margin: 0px auto; position:fixed; right:40px; top:20px; z-index: 18;">
      <%= link_to "Edit mood", edit_playlist_path(@playlist), id: 'add-button' %>
    </div>

    <div class="playlist-container" style="height: 100px">
      <div id="spotify-player-iframe" data-spotify-token="<%= current_user.token %>" data-spotify-refresh-token="<%= current_user.refresh_token %>" data-playlist-tracks="<%= @track_ids.to_json%>">
      </div>
  <% else %>
    <div class="playlist-container">
      <iframe id="spotify-player-iframe" src="https://open.spotify.com/embed/playlist/<%= @playlist.spotify_id %>" <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="293" height="373" frameborder="0" allowtransparency="true" allow="encrypted-media" style="width: 90%;" data-spotify-token="<%= current_user.token %>" data-spotify-refresh-token="<%= current_user.refresh_token %>" data-playlist-tracks="<%= @track_ids.to_json%>"></iframe>
    </div>
  <% end %>
</div>

<% if current_user.account_type == 'premium' %>
  <%= render 'shared/footer'%>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
<% end %>


