<div id="player"></div>
<div class="scrollbar"></div>

<div class="playlist-banner" style="background-image: url("<%= @playlist.image_url %>");">
  <header class="header">
    <h1 class="header__title" style="color:#1B1B1B;"><span style="background-image: <%= COLORS[@playlist.color] %>;border-radius:10px;padding:0px 20px;"><%= @playlist.name %></span></h1>
    <% @playlist.genres.each do |genre|%>
      <h2><%= genre.name %>&nbsp</h2>
    <% end %>
  </header>
</div>


<div class="main scrollbar">

  <div class="row">
    <div class="col text-center">
      <span><%= link_to "Edit playlist", edit_playlist_path(@playlist) %></span>
      <span><%= link_to "Refresh", playlist_refresh_path(@playlist), id: 'refresh-playlist-btn' %></span>
    </div>
  </div>

  <% if current_user.account_type == 'premium' %>
    <table class="table table-sm table-genres">
    <thead>
      <tr>
        <th scope="col" class="sort" data-sort="title">Title</th>
        <th scope="col" class="sort desc" data-sort="artist">Album</th>

      </tr>
    </thead>
    <tbody class="list">

        <% @playlist.tracks.each_with_index do |x,i|%>
          <tr>
            <th scope="row" class="title">
              <div class="track-image" data-spotify-id="<%= x.spotify_track_id %>" data-img-url="<%= x.image_url %>" data-position="<%= i %>">
              <span><%= i + 1%>.</span>
              <%= x.image_url ? (image_tag x.image_url) : (image_tag 'moods-logo.png') %>
              <%= x.title %>
              </div>
            </th>
            <td class="artist"><%= x.album %></td>
          </tr>
        <%end%>
      </tbody>
    </table>

    <div class="playlist-container" style="height: 100px">
      <div id="spotify-player-iframe" data-spotify-token="<%= current_user.token %>" data-spotify-refresh-token="<%= current_user.refresh_token %>" data-playlist-tracks="<%= @track_ids.to_json%>">
      </div>
  <% else %>
    <div class="playlist-container">
      <iframe id="spotify-player-iframe" src="https://open.spotify.com/embed/playlist/<%= @playlist.spotify_id %>" <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="293" height="373" frameborder="0" allowtransparency="true" allow="encrypted-media" style="width: 90%;" data-spotify-token="<%= current_user.token %>" data-spotify-refresh-token="<%= current_user.refresh_token %>" data-playlist-tracks="<%= @track_ids.to_json%>"></iframe>
    </div>
  <% end %>
</div>

<% if current_user.account_type == 'premium' %>
  <%= render 'shared/footer'%>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
<% end %>
