<div id="player"></div>



<header class="header">
    <h1 class="header__title"><span><%= @playlist.name %></span></h1>
</header>



<div class="btn btn-primary" id="previous-button">Previous</div>
<div class="btn btn-primary" id="play-button">Play</div>
<div class="btn btn-primary" id="next-button">Next</div>



<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="playlist-container">
          <iframe id="spotify-player-iframe" src="https://open.spotify.com/embed/playlist/<%= @playlist.spotify_id %>" <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="293" height="373" frameborder="0" allowtransparency="true" allow="encrypted-media" style="width: 80%;" data-spotify-token="<%= current_user.token %>" data-spotify-refresh-token="<%= current_user.refresh_token %>"></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <span><%= link_to "Edit playlist", edit_playlist_path(@playlist) %></span>
      </div>
    </div>
  </div>
</div>

