<!DOCTYPE html>
<html>
  <head>
    <title>Moods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('moods-favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <% if !current_page?(root_path) %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <% unless current_page?(root_path) %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
