<!DOCTYPE html>
<html>
  <head>
    <title>Moods - The soundtrack of your life</title>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('moods-favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
        border-radius:20px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #1B1B1B;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background-image: linear-gradient(to top right, #FFCC31e6, #FD7031e6, #C70D79e6);
      }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>

      <% if current_page?('/users/sign_in') %>
          <%= yield %>
      <% else %>
        <div class="grid-container">
          <%= render 'shared/sidenav'%>
          <%= yield %>
        </div>
      <% end %>

  </body>
</html>
