<!DOCTYPE html>
<html>
  <head>
    <title>Moods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="node_modules/select2/dist/css/select2.css">
    <%= favicon_link_tag asset_path('moods-favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if !current_page?(root_path) %>
      <div class="content-wrapper">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    <% unless current_page?(root_path) %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>


<!-- Device ID : 22d338b41278b685700af323d0b971e2707d1d1c -->
