<!DOCTYPE html>
<html>
  <head>
    <title>Moods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('moods-favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="content-wrapper">
      <%= render 'shared/header' if current_user %>
      <%= yield %>
    </div>
  </body>
</html>
